/* Declaracion variables: colores y fonts utilizadas */
:root {
  --rojo: rgb(155, 20, 20);
  --amarillo-gold: goldenrod;
  --blanco-arena: rgb(229, 220, 220);
  --negro: black;
  --tipo-titulo: "Playfair Display", "serif";
  --tipo-principal: "Inter", "sans-serif";
}
/* ----------------HEADER----------------------- */
.header {
  width: 100%;
}
.header__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__h1 {
  text-transform: uppercase;
  font-family: var(--tipo-titulo);
  font-size: 1.5em;
  color: var(--rojo);
}
.nav__ul {
  display: flex;
  align-items: center;
}
.nav__ul--li {
  margin: 20px;
  text-transform: uppercase;
  font-family: var(--tipo-principal);
}
/* ----------------- MAIN--------------- */
.reserva__disponibilidad {
  background-color: var(--blanco-arena);
  width: 200px;
  padding: 15px;
  border-bottom: 2px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}
.reserva__button {
  color: var(--rojo);
  text-transform: uppercase;
  font-family: var(--tipo-principal);
  font-weight: bold;
}
.calendario__container {
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendario {
  width: 50%;
  border: 2px solid var(--amarillo-gold);
  border-radius: 5px;
  background-color: var(--blanco-arena);
}
.titulo {
  text-transform: uppercase;
  font-family: var(--tipo-titulo);
  font-size: 2em;
  line-height: normal;
  color: var(--rojo);
  margin: 5px 0px;
  padding: 8px;
}
.reserva__h2 {
  text-transform: uppercase;
  font-family: var(--tipo-titulo);
  font-size: 2.5em;
  line-height: normal;
  color: var(--rojo);
  margin: 5px 0px;
  padding: 8px;
}
.reserva__comensales {
  background-color: var(--blanco-arena);
  width: 200px;
  margin: 10px;
  padding: 15px;
  border-bottom: 2px solid;
  border-radius: 5px;
}
.reserva__servicio {
  background-color: var(--blanco-arena);
  width: 200px;
  margin: 10px;
  padding: 15px;
  border-bottom: 2px solid;
  border-radius: 5px;
}
.info__p {
  font-family: var(--tipo-principal);
  text-transform: uppercase;
  line-height: 0.9em;
  padding: 10px;
}
/* ------------ FOOTER---------------- */
.footer__app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--negro);
}
.app__h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--tipo-titulo);
  font-size: 1em;
  color: var(--amarillo-gold);
  margin: 20px 0px;
}
.google__play,
.apple {
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid var(--blanco-arena);
  border-radius: 5px;
}
.app__p {
  color: var(--blanco-arena);
  font-size: 0.8em;
  font-family: var(--tipo-principal);
}
.footer__icon {
  margin: 6px;
  color: var(--amarillo-gold);
}
.footer__derechos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--negro);
}
.footer__derechos--p {
  color: var(--blanco-arena);
  font-size: 0.8em;
  font-family: var(--tipo-principal);
}
/* --------------   MEDIAS QUERIES------------- */
@media screen and (min-width: 389px) and (max-width: 540px) {
  /* ----------HEADER------------- */
  .header {
    width: 100%;
    background-color: var(--blanco-arena);
  }
  .header__container {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .header__h1 {
    font-size: 1.2em;
    padding: 10px;
  }
  .nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__ul--li {
    margin: 6px;
    font-size: 0.8em;
  }
  .header__button {
    display: none;
  }
  /* -------------------- MAIN------------------ */
  .calendario {
    width: 90%;
  }
  .info {
    margin-bottom: 20px;
  }
  .titulo {
    font-size: 1.5em;
  }

  .info__p {
    line-height: 0.7em;
    padding: 5px;
  }
  /* --------------------FOOTER------------ */
  .footer__app {
    width: 100%;
  }
  .app__h4 {
    font-size: 0.8em;
    margin: 5px 0px;
  }
  .google__play,
  .apple {
    border: none;
  }
  .app__p {
    font-size: 0.7em;
  }
  .footer__derechos--p {
    display: none;
  }
}
/* ---------------------------------------------------------- */
@media screen and (min-width: 541px) and (max-width: 768px) {
  /*---------HEADER--------------- */
  .header__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__h1 {
    font-size: 1.2em;
  }
  .nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__ul--li {
    font-size: 0.8em;
    margin: 8px;
  }
  .header__button {
    display: none;
  }
  /* ------------------------MAIN-------------------------------- */
  .calendario {
    width: 95%;
  }
  .titulo {
    font-size: 1.8em;
  }
  .info {
    margin-bottom: 25px;
  }
  .info__p {
    line-height: 0.8em;
    padding: 5px;
  }
  /* --------------------FOOTER------------ */
  .footer__app {
    width: 100%;
  }
  .app__h4 {
    font-size: 0.9em;
    margin: 5px 0px;
  }
  .google__play,
  .apple {
    border: none;
  }
  .app__p {
    font-size: 0.8em;
  }
  .footer__derechos--p {
    display: none;
  }
}
/* --------------------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 960px) {
  /* ---------------HEADER-------------- */
  .header__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__h1 {
    font-size: 1.3em;
  }
  .nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__ul--li {
    font-size: 1em;
    margin: 10px;
  }
  /* ------------------MAIN-------------------------*/
  .calendario {
    width: 95%;
  }
  .info {
    margin-bottom: 30px;
  }
  /* --------------------FOOTER----------------------- */
  .footer__derechos--p {
    font-size: 0.7em;
  }
}
/* --------------------------------------------- */
@media screen and (min-width: 961px) {
  /* ----------------HEADER------------------- */
  .header__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__h1 {
    font-size: 1.3em;
  }
  .nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__ul--li {
    font-size: 1em;
    margin: 10px;
  }

  /* ------------------MAIN------------------------ */
  .calendario {
    width: 80%;
  }
  .info {
    margin-bottom: 30px;
  }

  /* -------------------FOOTER------------- */

  .footer__app {
    width: 100%;
  }
  .app__h4 {
    font-size: 1em;
    margin: 5px 0px;
  }
  .google__play,
  .apple {
    border: none;
  }
  .app__p {
    font-size: 0.8em;
  }
  .footer__derechos--p {
    font-size: 0.8em;
  }
}
